<ion-view view-title="{{vm.isShowing ? 'Visualizando' : 'Novo' }} registro">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <button class='button button-clear button-block button-balanced' ng-click='vm.takePicture()'>
                    <i class='icon ion-camera'></i> Tirar foto
                </button>
            </div>
            <div class="col">
                <button class='button button-clear button-block button-balanced' ng-click='vm.selectPicture()'>
                    <i class='icon ion-ios-photos'></i> Selecionar foto
                </button>
            </div>
        </div>
        <div class="list card">
            <form name='recordForm'>
                <label class="item text-center positive" ng-show='vm.locationStatus == null'>
                    <span>Obtendo localização ...</span>
                    <br/>
                    <ion-spinner></ion-spinner>
                </label>
                <label class="item text-center" ng-show="vm.locationStatus == 'success' ">
                    <span class='balanced'>
                        Localização Obtida com Sucesso!!!
                    </span>
                    <br/> {{ vm.record.location.lat }} , {{ vm.record.location.lat }}
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Observação</span>
                    <textarea placeholder="Alguma observação do registro" ng-model='vm.record.observation'></textarea>
                </label>
            </form>
        </div>
        <button class='button button-block button-balanced' ng-click='vm.saveResearch()'>
            Salvar Registro
        </button>
    </ion-content>
</ion-view>
