<ion-view view-title="{{ vm.research.name }}">
    <ion-nav-buttons side='secondary'>
        <button class='button button-clear' ng-if="vm.records.length > 0" ui-sref='research.records.new()'>
            <i class='icon ion-plus'></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list" ng-if="vm.loading">
            <div class="card">
                <div class="item">
                    <h2>Carregando</h2>
                </div>
            </div>
        </div>
        <div class="list" ng-if="vm.records.length == 0 && !vm.loading">
            <div class="card">
                <div class="item">
                    <h2>Nenhum registro encontrado</h2>
                </div>
                <a class="item item-icon-left balanced" ui-sref='research.records.new()'>
                    <i class="icon ion-plus"></i> Criar registro
                </a>
            </div>
        </div>
        <ion-list class='list' can-swipe="true">
            <ion-item class='item item-icon-left item-icon-right' ui-sref='research.records.show({ id: rec.id })' ng-repeat="rec in vm.records">
                <i class="icon ion-beaker"></i>
                <span class="item-note">
                     {{rec.doc.createdAt | date:'d/MM/y h:mm:ss a' }}
                </span>
                <ion-option-button class="button-assertive" ng-click='vm.remove(rec.id)'>
                    Remover
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
